@import "../../colors";

.expandable-list {
  margin-top: 8px;
  margin-bottom: 12px;

  .expandable-list-title {
    font-weight: bolder;
    color: $color-grey-darken-33;
  }

  .variable {
    margin-top: 10px;
    padding-left: 8px;

    .variable-header {
      .variable-name {
        margin: 0;
      }

      .variable-description {
        margin: 0;
        color: $color-silver-darken-80;
        padding-left: 0.6rem;
      }
    }

    .variable-details {
      display: none;
      padding-left: 0.6rem;
      padding-top: 8px;

      label {
        font-weight: normal;
      }
    }

    &.active {
      .variable-details {
        display: block;
      }
    }
  }

  .empty {
    padding-left: 8px;
    font-style: italic;
  }
}
