@import "../../../colors";

$details-padding: 1rem;

.process-input-tab {

  .action {
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    border: 1px solid $color-silver-darken-80;
    background: $color-grey-light;
    border-radius: 3px;

    color: $color-grey-darken-33;

    text-decoration: none;
    padding: 4px 7px;

    cursor: pointer;
  }

  .add {
    float: right;

    svg {
      width: 8px;
    }
  }

  .item {
    margin-top: 10px;
    padding: 10px;
    padding-left: 5px;
    border: solid 1px $color-silver-darken-80;
    background-color: $color-silver-darken-94;
    border-radius: 2px;

    .item-header {
      &:hover {
        cursor: pointer;
      }

      .item-name {
        margin: 0;
        display: inline-block;
        font-weight: bold;

        .chevron {
          height: 12px;
          width: 12px;
          margin-right: 4px;
          content: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>');
        }
      }

      .item-description {
        margin: 0;
        color: $color-grey-darken-50;
        float: right;

        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .item-details {
      display: none;
      padding-left: $details-padding;
      padding-top: 20px;

      label {
        font-weight: normal;
      }
    }

    &.active {
      .item-details {
        display: block;
      }

      .item-description {
        display: none;
      }

      .chevron {
        content: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>') !important;
      }
    }

    .delete {
      margin-left: 55%;
      margin-top: 12px;
    }
  }
}
