.input-output-tab {
  .add {
    float: right;
    font-weight: normal;
    font-size: 12px;
    margin-top: 4px;
    font-style: normal;
    text-decoration-line: underline;

    cursor: pointer;
  }
}