@import './_colors.scss';

.variant-badge {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 90%;
  height: 3.125rem;
  width: 3.125rem;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  user-select: none;
  z-index: 999;

  span {
    position: absolute;
    right: 30%;
    left: 30%;
    bottom: 30%;
  }
}