@import "../../buttons";
@import "../../colors";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #666;
    opacity: 0.2;
    z-index: 1001;
  }

  display: none;

  &.is-open {
    display: block;
  }
}

.modal-container {
  position: fixed;
  left: 0;
  right: 0;

  width: 638px;

  margin: 8vh auto 6vh;
  padding: 0;
  z-index: 1001;

  /* ensures round corners are properly cut */
  overflow: hidden;
  border: solid 1px $color-silver-darken-87;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

  background-color: $color-silver-99;
  color: $color-grey-darken-33;
}

.modal-header {
  position: relative;
  padding: 20px 60px 20px 20px;

  background-color: $color-silver-base-97;
  font-size: 16px;

  border-bottom: solid 1px $color-silver-darken-87;
}

.modal-title {
  margin: 0;

  font-size: 16px;
  font-weight: bold;
  color: $color-grey-darken-33;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 22px;
  height: 22px;
  padding: 0;

  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.modal-header .modal-close:before {
  content: "\2715";
}

.modal-content {
  padding: 16px 20px 20px 20px;

  overflow-y: auto;

  font-size: 14px;

  background-color: $color-silver-99;

  .search-bar {
    margin-bottom: 24px !important;
    padding-left: 12px;
    border-radius: 10px;
  }

  form {
    max-height: 350px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  }

  .worker {
    margin-bottom: 12px;
    border-bottom: solid 1px $color-silver-darken-87;

    &:last-of-type {
      border-bottom: none;
    }

    label {
      clear: none;
      display: inline-block;
      padding: 0px 1em 4px 8px;

      .worker-name {
        font-weight: bold;
        margin-bottom: 4px;
      }

      .worker-description {
        font-weight: normal;
      }
    }
  
    input[type="radio"] {
      clear: none;
      margin: 2px 0 0 2px;
      width: auto;
    }
  }
}

.modal-footer {
  padding: 15px 20px;

  border-top: solid 1px $color-silver-darken-87;

  text-align: right;
}
