@import "../../buttons";
@import "../../colors";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #666;
    opacity: 0.2;
    z-index: 1001;
  }

  display: none;

  &.is-open {
    display: block;
  }
}

.modal-container {
  position: fixed;
  left: 0;
  right: 0;

  width: 638px;

  margin: 8vh auto 6vh;
  padding: 0;
  z-index: 1001;

  /* ensures round corners are properly cut */
  overflow: hidden;
  border: solid 1px $color-silver-darken-87;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

  background-color: $color-silver-99;
  color: $color-grey-darken-33;
}

.modal-header {
  position: relative;
  padding: 20px 60px 20px 20px;

  background-color: $color-silver-base-97;
  font-size: 16px;

  border-bottom: solid 1px $color-silver-darken-87;
}

.modal-title {
  margin: 0;

  font-size: 16px;
  font-weight: bold;
  color: $color-grey-darken-33;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 22px;
  height: 22px;
  padding: 0;

  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.modal-header .modal-close:before {
  content: "\2715";
}

.modal-content {
  padding: 16px 20px 20px 20px;

  overflow-y: auto;

  font-size: 14px;

  background-color: $color-silver-99;

  .worker {
      margin-bottom: 20px;
  }

  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
  }

  input[type="radio"] {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
  }
}

.modal-footer {
  padding: 15px 20px;

  border-top: solid 1px $color-silver-darken-87;

  text-align: right;
}
