@import '../colors';

.autocomplete {
  position: relative;

  input {
    margin-bottom: 0 !important;
  }

  .items {
    display: none;
    position: absolute;
    box-shadow: 0 0.05rem 0.25rem 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 99;
    background-color: white;

    top: 95%;
    left: 0;
    right: 0;

    .item {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid $color-silver-darken-94;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $color-silver-darken-94;
      }

      strong {
        color: $color-blue-darken-55;
      }
    }
  }
}