@import '../_colors.scss';

.diagram {

  width: 50%;

  .element {
    .djs-hit {
      pointer-events: all;
    }

    &.selected .djs-outline {
      shape-rendering: crispEdges;
      stroke: $color-select;
      stroke-width: 0.2rem;
      stroke-dasharray: 0.625rem;
    }

    &.hover:not(.selected) .djs-outline {
      stroke: $color-hover;
      stroke-width: 0.2rem;
      stroke-dasharray: 0.625rem;
    }
  }

}
